body {
  background: goldenrod;
  padding-top: 50px;
}

.welcome {
  text-align: center;
}

.welcome__text {
  color: grey;
  /*padding-top: 5em;*/
}

.welcome__image img {
  max-height: 250px;
  max-width: 500px;
}

.contact-form__submit {
  text-align: right
}

/*h1 {
    padding-top: 5em;
}*/